.footer {
  grid-area: footer;
  background: #FBDABB;
  color: black;
  padding: 3rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 360px;
  height: auto;
  border-radius: 16px;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #495E57;
  position: relative;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
}

.footer-link:hover {
  color: #495E57;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 0 0 0;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer-section {
    align-items: center;
  }

  .footer-list {
    align-items: center;
  }
}